.userdetails{
    width: 50%;
    background-color: white;
    border-radius:10px;
     margin-right:5%;
}
.userholder{
    display: flex;
    flex-direction: row;
}
.usernav{
    width: 50%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 600px) {
    .userdetails{
        width: 100%;
         margin-right:0;
         margin-bottom: 20px;
    }
    .userholder{
        flex-direction: column;
    }
    .usernav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1000px) {
    .userdetails{
        width: 100%;
         margin-right:0;
         margin-bottom: 20px;
    }
    .userholder{
        flex-direction: column;
    }
    .usernav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}